<?xml version="1.0"?>
<model>
  <name>escritorio</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  
  <author>
   <name>JulianChaux</name>
   <email>jchaux@misena.edu.co</email>
  </author>
  
  <description>
    Escritorio del instructor en el ambiente
  </description>
</model>